.mod-- {
  &badge {
    text-align: center;
    line-height: 15px;
    display: block;
    width: 15px;
    height: 15px;
    color: #fff;
    background-color: #157EFB;
    font-size: 10px;
    border-radius: 50%;
  }
}
